.cm-s-visual-studio.CodeMirror
{
    background-color: #ffffff;
    color:#555;
}

.cm-s-visual-studio.CodeMirror .CodeMirror-gutters
{
    background-color: #f6f6f6;
}

.cm-s-visual-studio.CodeMirror .CodeMirror-linenumber
{
    color: #ddd;
    background-color: #f6f6f6;
}

.cm-s-visual-studio.CodeMirror .CodeMirror-matchingbracket
{
    color: black;
    background-color: #dedede;
}

.cm-s-visual-studio.CodeMirror .CodeMirror-linebackground
{
    outline: 2px solid #dddddd;
    z-index: 3;
}

.cm-s-visual-studio .CodeMirror-activeline-background,
.cm-s-visual-studio .CodeMirror-activeline .CodeMirror-gutter-elt
{
    background: transparent !important;
}

.cm-s-visual-studio .CodeMirror-activeline-background
{
    outline: 2px solid #dddddd;
}

.cm-s-visual-studio .CodeMirror-activeline .CodeMirror-gutter-elt
{
    outline: 0px;
}


.cm-s-visual-studio.CodeMirror .cm-matchhighlight
{
    background-color: yellow;
}

.cm-s-visual-studio.CodeMirror .CodeMirror-selectedtext
{
    background-color: #e7f9fa;
}

.cm-s-visual-studio.CodeMirror .CodeMirror-selected,
.cm-s-visual-studio.CodeMirror-focused .CodeMirror-selected
{
    background: transparent;
}


.cm-s-visual-studio.CodeMirror .cm-atom { color: #2bccd0; }
.cm-s-visual-studio.CodeMirror .cm-qualifier { color: #ff6a7a; }

/*CodeMirror does not add notation for css...  Which would be really nice. */
/*.cm-s-visual-studio.CodeMirror .cm-property { color: red; }*/

.cm-s-visual-studio.CodeMirror .cm-keyword { color: #000; }
.cm-s-visual-studio.CodeMirror .cm-comment { color: #e1e1e1; }
.cm-s-visual-studio.CodeMirror .cm-string {color: #2bccd0;}
.cm-s-visual-studio.CodeMirror .cm-string-2 {color: #2bccd0;}
.cm-s-visual-studio.CodeMirror .cm-variable { color: #000; }
.cm-s-visual-studio.CodeMirror .cm-variable-2 { color: #5892a9; }
.cm-s-visual-studio.CodeMirror .cm-tag { color: #ff6a7a; }
.cm-s-visual-studio.CodeMirror .cm-attribute { color: #5892a9; }
.cm-s-visual-studio.CodeMirror .cm-property { color: black; }

.CodeMirror-activeline-background {background: #ffffff;}
